---
import { Image } from "astro:assets";
import { categoryDictionary } from "../../utils/categoryDictionary";
import { ViewTransitions } from "astro:transitions";
const { base, item, loading = "eager" } = Astro.props;
---

<div class="grid-item group relative" data-category={item.data.category}>
    <ViewTransitions />
    <a
        href={`/${base}/${item.slug}`}
        class="relative flex justify-center items-center">
        <Image
            src={item.thumbnail}
            alt={item.data.title}
            class="object-cover aspect-video w-full h-auto"
            loading={loading}
            transition:name={`thumbnail-${item.slug}`}
        />
        <div
            class="absolute w-full h-full bg-black bg-opacity-0 group-hover:bg-opacity-75 opacity-0 group-hover:opacity-100 transition-all ease-out-expo">
            <p
                class="text-white !m-0 w-full p-2 text-center whitespace-pre-wrap break-words font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all ease-out-expo">
                {item.data.title}
            </p>
            <p
                class="text-white !m-0 whitespace-nowrap tracking-tighter text-xs absolute bottom-2 left-2 transition-all ease-out-expo">
                {item.data.date}
            </p>
            <p
                class="text-white !m-0 whitespace-nowrap text-xs absolute bottom-2 right-2 transition-all ease-out-expo">
                {categoryDictionary[item.data.category].name}
            </p>
        </div>
    </a>
</div>
