---
import { authorDictionary } from "@/utils/authorDictionary";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ShareButtons from "./ShareButtons.astro";
import GitHubInfo from "./GitHubInfo.astro";
const { title, date, category } = Astro.props;

const encodedTitle = encodeURIComponent(title);
const encodedUrl = encodeURIComponent(Astro.url);
---

<div class="w-full mx-auto font-bold">
    <h1 class="text-4xl text-center mb-5 text-gray-800">
        {title}
    </h1>
    <div
        class="flex flex-col sm:flex-row justify-center items-center gap-5 mb-5">
        <div class="flex items-center gap-5">
            <p class="text-gray-600 flex items-center">
                <Icon
                    name="fa6-solid:calendar"
                    class="w-5 h-5 mr-2 text-cumulodark"
                />
                {date}
            </p>
            <p
                class="font-semibold px-5 py-1.5 bg-cumulodark text-white rounded-full">
                {category}
            </p>
        </div>
        <ShareButtons title={title} url={Astro.url} />
    </div>
    <GitHubInfo />
</div>
