---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { generateGallerySequence } from "../../utils/generateGallerySequence";
import { getImagesFromFolder } from "../../utils/getImagesFromFolder";
import Modal from "../atoms/Modal.astro";

const { folderPath } = Astro.props;

const galleryImages = getImagesFromFolder(folderPath);
const layoutSequence = generateGallerySequence(galleryImages.length);

const preparedImages = await Promise.all(
    galleryImages.map(async (image, index) => {
        const importedImage = await image.importFunc();
        return {
            src: importedImage.default,
            alt:
                image.path.split("/").pop()?.split(".")[0] ||
                `gallery-${index}`,
            id: `image-${index}`,
            modalId: `modal-image-${index}`,
        };
    }),
);
---

<div class="w-full space-y-1 my-10">
    {
        layoutSequence.map((numImages, rowIndex) => (
            <div class="w-full flex gap-1">
                {Array.from({ length: numImages }).map((_, colIndex) => {
                    const imageIndex =
                        rowIndex * Math.max(...layoutSequence) + colIndex;
                    if (imageIndex >= preparedImages.length) return null;
                    const image = preparedImages[imageIndex];
                    return (
                        <div class="w-full">
                            <Image
                                src={image.src}
                                alt={image.alt}
                                class="w-full h-full object-cover cursor-pointer"
                                loading={imageIndex < 8 ? "eager" : "lazy"}
                                id={image.id}
                                data-modal-target={image.modalId}
                            />
                        </div>
                    );
                })}
            </div>
        ))
    }
</div>

{
    preparedImages.map((image, index) => (
        <Modal id={image.modalId}>
            <div class="relative w-full h-full">
                <Image
                    src={image.src}
                    alt={image.alt}
                    class="w-full h-full object-cover"
                />
                <button
                    class="absolute -left-16 size-10 top-1/2 transform -translate-y-1/2 border p-2 rounded-full opacity-50 hover:opacity-100"
                    data-nav="prev"
                    data-index={index}>
                    <Icon
                        name="fa6-solid:chevron-left"
                        class="w-full text-white"
                    />
                </button>
                <button
                    class="absolute -right-16 size-10 top-1/2 transform -translate-y-1/2 border p-2 rounded-full opacity-50 hover:opacity-100"
                    data-nav="next"
                    data-index={index}>
                    <Icon
                        name="fa6-solid:chevron-right"
                        class="w-full text-white"
                    />
                </button>
            </div>
        </Modal>
    ))
}

<script>
    const images = document.querySelectorAll('img[id^="image-"]');
    const modals = document.querySelectorAll('dialog[id^="modal-image-"]');

    images.forEach((img) => {
        img.addEventListener("click", () => {
            const modalId = img.dataset.modalTarget;
            const modal = document.getElementById(modalId);
            if (modal instanceof HTMLDialogElement) {
                modal.showModal();
            }
        });
    });

    document.querySelectorAll("[data-nav]").forEach((button) => {
        button.addEventListener("click", (e) => {
            const direction = button.dataset.nav === "prev" ? -1 : 1;
            const currentIndex = parseInt(button.dataset.index);
            let newIndex = currentIndex + direction;

            if (newIndex < 0) newIndex = modals.length - 1;
            if (newIndex >= modals.length) newIndex = 0;

            modals[currentIndex].close();
            modals[newIndex].showModal();
        });
    });
</script>
