---
import { Icon } from "astro-icon/components";

const { title, url } = Astro.props;
const encodedTitle = encodeURIComponent(title);
const encodedUrl = encodeURIComponent(url);
---

<div class="flex justify-center items-center gap-5 font-bold">
    <p>Share:</p>
    <a
        href={`https://x.com/intent/tweet?text=${encodedTitle}&url=${encodedUrl}&via=cumuloworks`}
        aria-label="Share on X (Twitter)">
        <Icon
            name="fa6-brands:x-twitter"
            class="w-5 h-5 text-dark hover:text-light"
        />
    </a>
    <a
        href={`https://line.me/R/msg/text/?${encodedTitle}%0A${encodedUrl}`}
        aria-label="Share on LINE">
        <Icon
            name="fa6-brands:line"
            class="w-5 h-5 text-dark hover:text-light"
        />
    </a>
    <button id="shareButton">
        <Icon
            name="fa6-solid:share"
            class="w-5 h-5 text-dark hover:text-light"
        />
    </button>
</div>

<script>
    const shareButton = document.getElementById("shareButton");

    if (navigator.share) {
        shareButton.classList.remove("hidden");
        shareButton.addEventListener("click", async () => {
            try {
                await navigator.share({
                    title: "{title}",
                    url: "{url}",
                });
            } catch (err) {
                console.error("Error sharing:", err);
            }
        });
    }
</script>
