---
import Logo from "../atoms/Logo.astro";
import SocialIcon from "../atoms/SocialIcon.astro";

const SocialIcons = [
    { href: "https://x.com/cumuloworks", icon: "fa6-brands:x-twitter" },
    { href: "https://facebook.com/cumuloworks", icon: "fa6-brands:facebook" },
    { href: "https://instagram.com/cumuloworks", icon: "fa6-brands:instagram" },
    { href: "https://www.youtube.com/cumuloworks", icon: "fa6-brands:youtube" },
    { href: "https://github.com/cumuloworks", icon: "fa6-brands:github" },
];
---

<header class="flex bg-white text-cumulodark md:min-h-60 min-h-60 md:text-base text-sm">
    <nav
        class="flex w-full justify-between items-center mx-auto font-bold uppercase max-w-screen-xl px-5">
        <ul class="md:flex flex-1 gap-5 text-left hidden" id="nav-links">
            {
                SocialIcons.map((link) => (
                    <SocialIcon href={link.href} icon={link.icon} />
                ))
            }
        </ul>
        <div class="flex flex-col items-center mx-auto px-0 md:px-10 gap-5">
            <a href="/" aria-label="Home">
                <svg
                    class="w-full fill-cumulodark hover:fill-cumulolight"
                    viewBox="0 0 918.79 105"
                    role="img"
                    aria-labelledby="logo-title">
                    <title id="logo-title">Cumuloworks Logo</title>
                    <Logo />
                </svg>
            </a>
            <ul class="flex gap-5" id="page-links">
                <li>
                    <a href="/projects" class="hover:text-cumulolight">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="hover:text-cumulolight">Blogs</a>
                </li>
                <li>
                    <a href="/downloads" class="hover:text-cumulolight">
                        Downloads
                    </a>
                </li>
                <li class="block md:hidden">
                    <a href="/about" class="hover:text-cumulolight">About</a>
                </li>
            </ul>
            <ul class="md:hidden flex-1 gap-5 text-left flex">
                {
                    SocialIcons.map((link) => (
                        <SocialIcon href={link.href} icon={link.icon} />
                    ))
                }
                <SocialIcon
                    href="/about#contact"
                    icon="fa6-solid:envelope"
                    newtab={false}
                />
            </ul>
        </div>
        <ul
            id="page-links"
            class="md:flex hidden flex-1 flex-col md:flex-row justify-end gap-5 text-right">
            <li>
                <a href="/about" class="hover:text-cumulolight">About</a>
            </li>
            <li>
                <a href="/about#contact" class="hover:text-cumulolight"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</header>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll("#page-links a");
        links.forEach((link) => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("underdot");
            }
        });
    });
</script>

<style>
    .underdot {
        position: relative;
    }
    .underdot::after {
        @apply content-['']  size-[5px] bg-cumulodark rounded-full absolute -bottom-1.5 left-1/2 transform -translate-x-1/2 animate-pulse;
    }
</style>
