---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/markdown.css";
import { Image } from "astro:assets";
import profilePic from "../assets/profile_pic.jpg";
import Card from "../components/content/Card.astro";
import ContactForm from "../components/elements/ContactForm.astro";
import { getItemWithThumbnail } from "../utils/contentUtils";

const title = "About";
const description =
    "Cumuloworks (Tomoya Eguchi) is a freelance director, motion designer, and CG generalist based in Tokyo, Japan.";

const directionProject = await getItemWithThumbnail("projects", "angelic");
const motionProject = await getItemWithThumbnail("projects", "holoenprelude");
const threedProject = await getItemWithThumbnail("projects", "mentos-duo");
const toonProject = await getItemWithThumbnail("projects", "enekey-2");
const productProject = await getItemWithThumbnail(
    "projects",
    "panasonic-viera",
);
const vfxProject = await getItemWithThumbnail("projects", "kaf-kaika");
---

<BaseLayout title={title} description={description}>
    <div class="markdown-content">
        <h1 class="!mt-0">About</h1>
        <div
            class="w-full flex flex-col lg:flex-row items-center rounded-lg leading-loose gap-8 mt-10 mb-20 p-5 shadow-2xl h-full">
            <div class="w-full lg:w-1/3">
                <Image
                    src={profilePic}
                    class="rounded object-cover h-96 lg:h-full"
                    alt="Profile"
                    loading="eager"
                    width={480}
                />
            </div>
            <div class="w-2/3">
                <h2>Cumuloworks (Tomoya Eguchi)</h2>
                <h3 class="text-cumulolight">
                    Directror / Motion Designer / CG Generalist
                </h3>
                <p>
                    Hello! I am a freelance director, motion designer, and CG
                    generalist based in Tokyo, Japan.
                </p>
                <p>
                    I started creating videos in high school and began
                    commercial video production after entering university.
                </p>
                <p>
                    At the age of 20, I joined <a href="https://nanameinc.jp/"
                        >Naname Inc.</a
                    >. After gaining two and a half years of experience, I
                    became a freelancer.
                </p>
                <p>
                    In 2021, I transitioned my business into <a
                        href="https://cumulo.works/company/"
                        >Cumuloworks, Inc.</a
                    >.
                </p>
            </div>
        </div>

        <h2>Areas of Expertise</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div class="mb-5 !mb-0">
                <h3 class="!mt-0">Direction</h3>
                <Card base="projects" item={directionProject} />
                <p class="mt-5">
                    From corporate promotional videos to virtual content.
                </p>
            </div>
            <div class="mb-5 !mb-0">
                <h3 class="!mt-0">Motion Graphics</h3>
                <Card base="projects" item={motionProject} />
                <p class="mt-5">
                    Story-driven motion graphics, collaborating with various
                    designers.
                </p>
            </div>
            <div class="mb-5 !mb-0">
                <h3 class="!mt-0">3D</h3>
                <Card base="projects" item={threedProject} />
                <p class="mt-5">
                    From scene creation to compositing in a one-stop, with
                    established workflow.
                </p>
            </div>
            <div class="mb-5 !mb-0">
                <h3 class="!mt-0">Product Visualization</h3>
                <Card base="projects" item={productProject} />
                <p class="mt-5 ">
                    Photo-realistic product visualization and animation.
                </p>
            </div>
            <div class="mb-5 !mb-0">
                <h3 class="!mt-0">VFX / Compositing</h3>
                <Card base="projects" item={vfxProject} />
                <p class="mt-5">
                    VFX and compositing for advertisements and music videos.
                </p>
            </div>
            <div class="mb-5 !mb-0">
                <h3 class="!mt-0">Toon / Anime Style</h3>
                <Card base="projects" item={toonProject} />
                <p class="mt-5">Unique anime-style rendering.</p>
            </div>
        </div>

        <h2>Main Tools</h2>
        <ul class="list-disc pl-5 space-y-2">
            <li>
                <span class="font-semibold">DCC</span> - Maxon Cinema 4D
            </li>
            <li>
                <span class="font-semibold"
                    >Motion Graphics and Compositing</span
                > - Adobe After Effects
            </li>
            <li>
                <span class="font-semibold">Rendering</span> - Otoy Octane Render
            </li>
            <li>
                <span class="font-semibold">Editing and Color Grading</span> - Blackmagic
                Design DaVinci Resolve
            </li>
        </ul>

        <h2>Talks and Interviews</h2>
        <ul class="list-disc pl-5 space-y-2">
            <li>
                VIDEOGRAPHERS TOKYO 2024 <a
                    href="http://cumulo.works/blogs/vgt2024"
                    target="_blank"
                    rel="noopener noreferrer">「快適な制作環境の作り方」</a
                > (2024)
            </li>
            <li>
                Vook <a
                    href="https://vook.vc/n/7157"
                    target="_blank"
                    rel="noopener noreferrer">「裏（バックエンド）を聞く」</a
                > (2024)
            </li>
            <li>
                <a
                    href="https://motion-plus-design.com/events/main/event/36"
                    target="_blank"
                    rel="noopener noreferrer">Motion Plus Design Tokyo 2024</a
                > スポンサー (2024)
            </li>
            <li>
                CGWORLD vol.290 <a
                    href="https://cgworld.jp/magazine/cgw290.html"
                    target="_blank"
                    rel="noopener noreferrer">「新世代クリエイター」</a
                > ヰ世界情緒『ARCADIA』MV (2022)
            </li>
            <li>
                CGWORLD <a
                    href="https://cgworld.jp/special/promo/bakusokuamd/2021/07/30/%E3%80%8C%E6%89%8B%E3%81%AB%E5%85%A5%E3%82%8B%E6%9C%80%E3%82%82%E9%AB%98%E3%81%84%E3%82%B9%E3%83%9A%E3%83%83%E3%82%AF%E3%82%92%E5%AE%9F%E7%8F%BE%E3%81%99%E3%82%8B%E3%80%8D-cumuloworks-%E6%B1%9F/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >「AMD爆速ラボ - 「手に入る最も高いスペックを実現する」
                    cumuloworks 江口氏の 趣味とロマンが詰まった制作環境とは」</a
                > (2021)
            </li>
            <li>
                CGWORLD 2020 クリエイティブカンファレンス <a
                    href="https://cgworld.jp/special/cgwcc2020/schedule/cumuloworks/index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    >「After
                    Effectsスクリプトを書いて、制作を楽しく効率化しよう。」</a
                > (2020)
            </li>
        </ul>

        <h1 class="!my-20" id="contact">Contact</h1>
        <div
            class="w-full flex flex-col lg:flex-row items-center rounded-lg leading-loose gap-8 my-10 px-5 py-10 lg:p-10 shadow-2xl h-full">
            <div class="w-1/2 text-center">
                <a class="text-xl font-bold" href="mailto:mail@cumulo.works"
                    >mail@cumulo.works</a
                >
                <p>Please feel free to contact me via email, form, or SNS.</p>
                <p>I will reply to you within 2 business days.</p>
            </div>
            <ContactForm />
        </div>
    </div>
</BaseLayout>
