---
import { Image } from "astro:assets";
import { generateGallerySequence } from "../utils/generateGallerySequence";
import Modal from "./Modal.astro";
import { Icon } from "astro-icon/components";
import {getImagesFromFolder} from "../utils/getImagesFromFolder"

const { folderPath } = Astro.props;

const galleryImages = getImagesFromFolder(folderPath);

const layoutSequence = generateGallerySequence(galleryImages.length);

// biome-ignore lint/style/useConst: <explanation>
let imageIndex = 0;
---

<div class="w-full space-y-1 my-10">
    {
        layoutSequence.map((numImages, rowIndex) => (
            <div class="w-full flex gap-1">
                {Array.from({ length: numImages }).map((_, colIndex) => {
                    if (imageIndex >= galleryImages.length) {
                        return null;
                    }
                    const { path, importFunc } = galleryImages[imageIndex];
                    const imageId = `image-${imageIndex}`;
                    imageIndex += 1;
                    return (
                        <div class="w-full">
                            <Image
                                src={importFunc()}
                                alt={
                                    path.split("/").pop()?.split(".")[0] ||
                                    `gallery-${imageIndex}`
                                }
                                width={1920}
                                height={1080}
                                class="w-full h-full object-cover cursor-pointer"
                                loading={imageIndex < 8 ? "eager" : "lazy"}
                                id={imageId}
                            />
                            <Modal id={`modal-${imageId}`}>
                                <div class="relative w-full h-full">
                                    <Image
                                        src={importFunc()}
                                        alt={
                                            path
                                                .split("/")
                                                .pop()
                                                ?.split(".")[0] ||
                                            `gallery-${imageIndex}`
                                        }
                                        width={1920}
                                        height={1080}
                                        class="w-full h-full object-cover"
                                    />
                                    <button
                                        class="absolute -left-16 size-10  top-1/2 transform -translate-y-1/2 border p-2 rounded-full opacity-50 hover:opacity-100"
                                        data-nav="prev"
                                    >
                                        <Icon name="fa6-solid:chevron-left" class="w-full text-white">
                                    </button>
                                    <button
                                        class="absolute -right-16 size-10 top-1/2 transform -translate-y-1/2 border p-2 rounded-full opacity-50 hover:opacity-100"
                                        data-nav="next"
                                    >
                                        <Icon name="fa6-solid:chevron-right" class="w-full text-white">
                                    </button>
                                </div>
                            </Modal>
                        </div>
                    );
                })}
            </div>
        ))
    }
</div>

<script>
    const images = document.querySelectorAll('img[id^="image-"]');
    const modals = document.querySelectorAll('dialog[id^="modal-image-"]');

    images.forEach((img, index) => {
        img.addEventListener("click", () => {
            const modalId = `modal-${img.id}`;
            const modal = document.getElementById(modalId);
            if (modal instanceof HTMLDialogElement) {
                modal.showModal();
            }
        });
    });

    modals.forEach((modal) => {
        const prevButton = modal.querySelector('[data-nav="prev"]');
        const nextButton = modal.querySelector('[data-nav="next"]');

        prevButton.addEventListener("click", () => navigateImage(modal, -1));
        nextButton.addEventListener("click", () => navigateImage(modal, 1));
    });

    function navigateImage(currentModal, direction) {
        const currentIndex = Array.from(modals).indexOf(currentModal);
        let newIndex = currentIndex + direction;

        if (newIndex < 0) newIndex = modals.length - 1;
        if (newIndex >= modals.length) newIndex = 0;

        currentModal.close();
        modals[newIndex].showModal();
    }
</script>
