---
import { Image } from "astro:assets";
import { getImagesFromFolder } from "@/utils/getImagesFromFolder";

const { folderPath } = Astro.props;

const galleryImages = await getImagesFromFolder(folderPath);

const preparedImages = await Promise.all(
    galleryImages.map(async (image, index) => {
        return {
            src: image,
            alt:
                image.src.split("/").pop()?.split(".")[0] || `gallery-${index}`,
            id: `image-${index}`,
        };
    }),
);

async function getImagesFromFolder(folderPath) {
    const images = import.meta.glob(
        "/src/**/*.(png|jpg|jpeg|gif|webp|PNG|JPG|JPEG|GIF|WEBP)",
        {
            eager: true,
        },
    );
    const filteredImages = Object.entries(images)
        .filter(([path]) => {
            const isInFolder = path.startsWith(folderPath);
            const isNotThumb = !/thumb\.(jpg|jpeg|png|gif|webp)$/i.test(path);
            return isInFolder && isNotThumb;
        })
        .map(([path, imageModule]) => {
            return imageModule.default;
        });
    return filteredImages;
}
---

{
    galleryImages.length > 0 && (
        <div class="not-prose w-screen mt-20 -ml-8 overflow-x-scroll overflow-y-hidden ">
            <div class="flex">
                {preparedImages.map((image, index) => (
                    <div
                        class="flex-none h-[calc(min(50vw,360px))] flex items-center justify-center"
                        key={image.id}
                    >
                        <Image
                            src={image.src}
                            alt={image.alt}
                            class="h-[calc(min(50vw,360px))] w-auto object-contain"
                            loading={index < 4 ? "eager" : "lazy"}
                            id={image.id}
                            width={1280}
                        />
                    </div>
                ))}
            </div>
        </div>
    )
}
