---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import "../styles/globals.css";

const {
    title,
    description,
    limit = true,
    ogImage,
    header = true,
} = Astro.props;
const pageTitle = `${title} | Cumuloworks`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>

        <meta property="og:title" content={pageTitle} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta
            property="og:description"
            content={description ? description : title}
        />
        <meta
            property="og:image"
            content={ogImage || new URL("/default_ogp.jpg", Astro.url)}
        />
        <meta
            property="twitter:image"
            content={ogImage || new URL("/default_ogp.jpg", Astro.url)}
        />
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="description"
            content={description ? description : title}
        />
        <meta property="og:site_name" content="Cumuloworks" />
        <script
            is:inline
            defer
            data-domain="cumulo.works"
            src="https://plausible.io/js/script.js"></script>
    </head>
    <body class="flex flex-col h-svh bg-white text-cumulodark">
        {header ? <Header /> : null}
        <main
            class={`mx-auto flex-grow w-full ${limit ? "max-w-screen-xl px-5 mb-10" : ""}`}>
            <slot />
        </main>
        <Footer />
    </body>
</html>
