---
import "@/styles/global.css";
import Analytics from "@vercel/analytics/astro";
import Icon from "@/assets/icon.svg?raw";
import kumoLogo from "@kumoproductions/branding/logotype/svg/logotype_tertiary_TM_wt.svg?raw";

interface Props {
    frontmatter: Astro.Frontmatter;
    lang: "en" | "ja";
}

const { frontmatter, lang = "en" } = Astro.props as Props;

function getEmbedType(url: string | undefined | null) {
    if (!url) return null;
    if (url.includes("youtube.com") || url.includes("youtu.be"))
        return "youtube";
    if (url.includes("twitter.com") || url.includes("x.com")) return "twitter";
    return null;
}

function getYoutubeId(url: string) {
    const regExp =
        /^.*(youtu.be\/.|v\/.|u\/\w\/.|embed\/.|watch\?v=|&v=)([^#&?]*).*/;
    const match = url.match(regExp);
    return match && match[2].length === 11 ? match[2] : null;
}

function getTwitterId(url: string) {
    const regExp =
        /(?:twitter\.com\/\w+\/status\/|x\.com\/\w+\/status\/)([0-9]+)/;
    const match = url.match(regExp);
    return match ? match[1] : null;
}

function getEmbedId(url?: string) {
    const type = getEmbedType(url || null);
    let id: string | null = null;
    switch (type) {
        case "youtube":
            id = url ? getYoutubeId(url) : null;
            break;
        case "twitter":
            id = url ? getTwitterId(url) : null;
            break;
    }
    return { type, id } as const;
}

const { type, id } = getEmbedId(frontmatter?.embed as string | undefined);
---

<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=0.875"
        />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={frontmatter?.description} />
        <title>
            {[frontmatter?.title, "Cumuloworks"].filter(Boolean).join(" | ")}
        </title>

        <meta
            property="og:title"
            content={[frontmatter?.title || "Cumuloworks"]}
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:description" content={frontmatter?.description} />
        <meta
            property="og:image"
            content={new URL("/ogp.png", Astro.url)}
        />
        <meta
            property="twitter:image"
            content={new URL("/ogp.png", Astro.url)}
        />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="description" content={frontmatter?.description} />
        <meta property="og:site_name" content="Cumuloworks" /><link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700"
            rel="stylesheet"
        />
        <Analytics />
    </head>
    <body
        class="min-h-svh bg-background font-geist-sans overflow-x-hidden overflow-y-scroll"
    >
        <div
            class="min-h-svh max-w-screen-lg mx-auto bg-background text-text px-8 py-12"
        >
            <header
                class="flex justify-between items-center gap-6 mb-16 flex-wrap"
            >
                <a
                    href="/"
                    aria-label="Cumuloworks"
                    class="fill-text hover:fill-accent transition-colors duration-300 w-24"
                >
                    <span set:html={Icon} />
                </a>
                <a
                    href="https://kumo.productions/"
                    aria-label="kumo.productions™"
                    class="fill-text hover:fill-accent w-36 flex items-center gap-2"
                >
                    <span class="inline-block w-full" set:html={kumoLogo} />
                    <span class="font-medium text-sm">-></span>
                </a>
            </header>
            <div
                class:list={[
                    "prose",
                    "prose-invert",
                    "prose-zinc",
                    "max-w-screen-lg",
                    "prose-blockquote:border-accent",
                    "prose-blockquote:not-italic",
                    "prose-blockquote:text-justify",
                    "prose-p:text-justify",
                    "prose-p:after:content-none",
                    "prose-p:before:content-none",
                    "prose-img:inline-block",
                    "prose-img:rounded",
                    "prose-video:rounded",
                    "prose-img:max-h-54",
                    "prose-img:w-auto",
                    "prose-img:my-0",
                    "prose-ul:list-['->']",
                    "prose-ul:pl-5",
                    "marker:text-secondary",
                    "prose-code:before:content-none",
                    "prose-code:after:content-none",
                    "prose-a:no-underline",
                    "transition-colors",
                    "duration-300",
                    "prose-headings:font-medium",
                    "prose-headings:tracking-tight",
                    "prose-h2:text-4xl",
                    "prose-h1:text-7xl",
                    "prose-headings:break-all",
                    "prose-h1:text-white",
                    "prose-h2:text-primary",
                    "prose-h3:mt-9",
                    "prose-h3:mb-5",
                    "prose-headings:text-secondary",
                    "prose-a:text-primary",
                    "prose-a:hover:text-accent",
                ]}
            >
                {frontmatter?.title && <h1>{frontmatter.title}</h1>}
                {
                    type === "youtube" && id && (
                        <div class="w-full aspect-video">
                            <iframe
                                src={`https://www.youtube.com/embed/${id}`}
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen
                                width="100%"
                                height="100%"
                            />
                        </div>
                    )
                }
                {
                    type === "twitter" && id && (
                        <div class="w-full">
                            <blockquote
                                class="twitter-tweet"
                                data-media-max-width="1920"
                            >
                                <a
                                    href={`https://twitter.com/i/status/${id}`}
                                />
                            </blockquote>
                            <script
                                async
                                src="https://platform.twitter.com/widgets.js"
                                charset="utf-8"
                            />
                        </div>
                    )
                }
                <slot />
            </div>
        </div>
    </body>
</html>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const currentDomain = window.location.hostname;
        const links = document.querySelectorAll("a");
        links.forEach((link) => {
            const href = link.getAttribute("href");
            if (
                href &&
                href.startsWith("http") &&
                !href.includes(currentDomain)
            ) {
                link.setAttribute("target", "_blank");
                link.setAttribute("rel", "noopener noreferrer");
            }
        });
    });
</script>
